.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background-transparent);
    backdrop-filter: blur(2rem);
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.2rem;
}

.connect,
.cancel {
    background: var(--background-element);
    border: none;
    color: var(--color);
    padding: 0.6rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 1px var(--color);
    width: 60%;
    padding: 0.6rem 1rem;
    margin-top: 15px;
}