/* Archivo */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 125%;
  font-display: swap;
  src:
    local('Archivo'),
    url('../fonts/Archivo-VariableFont_wdth-wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 62.5% 125%;
  font-display: swap;
  src:
    local('Archivo Italic'),
    url('../fonts/Archivo-Italic-VariableFont_wdth-wght.woff2') format('woff2');
}

/* Icons */

@font-face {
    font-family: 'Icons';
    src: url('../fonts/Icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Social-icons';
    src: url('../fonts/social-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

.icon-close:before { font-family: "Icons"; content: "\e90e"; }
.icon-minimize:before { font-family: "Icons"; content: "\e90b" }
.icon-maximize:before { font-family: "Icons"; content: "\e90c"; }
.icon-restore-down:before { font-family: "Icons"; content: "\e90d"; }
.icon-account-add:before { font-family: "Icons"; content: "\e901"; }
.icon-account-delete:before { font-family: "Icons"; content: "\e902"; }
.icon-settings:before { font-family: "Icons"; content: "\e909"; }
.icon-monitor:before { font-family: "Icons"; content: "\e90a"; }
.icon-arrow:before { font-family: "Social-icons"; content: "\e002"; }

.icon-discord { background-image: url('../images/svgs/discord.svg'); background-size: contain; }
.icon-facebook { background-image: url('../images/svgs/facebook.svg'); background-size: contain; }
.icon-github { background-image: url('../images/svgs/github.svg'); background-size: contain; }
.icon-instagram { background-image: url('../images/svgs/instagram.svg'); background-size: contain; }
.icon-reddit { background-image: url('../images/svgs/reddit.svg'); background-size: contain; }
.icon-telegram { background-image: url('../images/svgs/telegram.svg'); background-size: contain; }
.icon-twitch { background-image: url('../images/svgs/twitch.svg'); background-size: contain; }
.icon-twitter { background-image: url('../images/svgs/twitter.svg'); background-size: contain; }
.icon-youtube { background-image: url('../images/svgs/youtube.svg'); background-size: contain; } 
.icon-tiktok { background-image: url('../images/svgs/tiktok.svg'); background-size: contain; }
.icon-web { background-image: url('../images/svgs/web.svg'); background-size: contain; }