.global {
    --element-color: #0086ff;
    --play: #1AC707;
    --play2: #0f6e048f;
    --button-2: #85cc7d;
    --dark-color: #292929;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: white;
    --color2: black;
    --background-transparent: #0000005c;
    --shadow: rgb(0 0 0 / 40%);
}

.light {
    --color: black;
    --color2: white;
    --background-transparent: #ffffff5c;
    --shadow: rgba(208, 208, 208, 0.7);
    }